/* clear fix */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.wrapper{
    width: 1090px;
    margin: 0 auto;
    padding:104px 0;
}

.cube{
    width: 218px;
    height: 500px;
    float: left;
    position: relative;
    transform-style: preserve-3d;
    animation:rotating  12s ease-in-out infinite;
}
@keyframes rotating{
    0%{
        transform: rotateX(0);
    }
    8%{
        transform: rotateX(0);
    }
    25%{
        transform: rotateX(-90deg);
    }
    33%{
        transform: rotateX(-90deg);
    }
    50%{
        transform: rotateX(-180deg);
    }
    58%{
        transform: rotateX(-180deg);
    }
    75%{
        transform: rotateX(-270deg);
    }
    83%{
        transform: rotateX(-270deg);
    }
    100%{
        transform: rotateX(-360deg);
    }
}

.cube:nth-child(1){
	animation-delay: 1s;
}
.cube:nth-child(2){
	animation-delay: 1.2s;
}
.cube:nth-child(3){
	animation-delay: 1.4s;
}
.cube:nth-child(4){
	animation-delay: 1.6s;
}
.cube:nth-child(5){
	animation-delay: 1.8s;
}

.img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0em;
    left: 0em;
}
.img:nth-child(1){
    background: url(/img/cube/cube5.jpg) no-repeat;
    transform: rotateX(0) translateZ(250px);
}
.img:nth-child(2){
    background: url(/img/cube/cube4.jpg) no-repeat;
    transform: rotateX(-90deg) translateZ(250px);
}
.img:nth-child(3){
    background: url(/img/cube/cube3.jpg) no-repeat;
    transform: rotateX(-180deg) translateZ(250px);
}
.img:nth-child(4){
    background: url(/img/cube/cube2.jpg) no-repeat;
    transform: rotateX(-270deg) translateZ(250px);
}

.cube:nth-child(1) .img{
	background-position:0px 0px;
}
.cube:nth-child(2) .img{
	background-position: -218px 0px;
}
.cube:nth-child(3) .img{
	background-position: -436px 0px;
}
.cube:nth-child(4) .img{
	background-position: -654px 0px;
}
.cube:nth-child(5) .img{
	background-position: -856px 0px;
}