.typing-wrapper{
    padding-top: 10vh;
}
 
.typing {
  margin:0 auto;

  font-family: cursive;
  text-transform:capitalize;
  white-space: nowrap;

  width: 29ch;
  overflow: hidden;

  border-right: .05em solid;
  animation: typing 8s steps(29),
            caret 1s steps(1) infinite;
}

@keyframes typing {
    from { width: 0 }
}
 
@keyframes caret {
    50% { border-right-color:transparent; }
}